.coluna{
    border: 1px solid #000;
}

.cabecalho{
    min-height: 300px;
    text-align: center;
    background-color: #000;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    background-image: url("../images/backCabecalho.jpg");
    background-size: cover;
    background-position: center
}

.corpo{
    min-height: 300px;
    text-align: center;
    background-color: "white";
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu{
    width: 100%;
    margin-top: 10px;
    display: inline-block;
}

.itemMenu{
    float: left;
    width: 10%;
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}

.itemMenu:hover{
    cursor: pointer;
    background-color: gray;
}

.rodape{
    min-height: 80px;
    text-align: center;
    background-color: #e8e8e8;
    border-radius: 10px;
    padding: 10px;
    color: "white";
}

.not-found__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 50px;
    text-align: center;
    color: #3f3d56;
}
  
.not-found__container img {
    width: 100%;
    height: auto;
    max-width: 600px;
}
  
.not-found__container button {
    width: fit-content;
    border: 2px solid #3f3d56;
    color: #3f3d56;
    font-weight: bold;
    outline: none;
    padding: 10px 40px;
    border-radius: 20px;
    transition: all ease 0.3s;
    cursor: pointer;
}
  
.not-found__container button:hover {
    background: #3f3d56;
    color: white;
    scale: 1.1;
}
  
.MuiTableCell-head {
    font-weight: bold !important;
    text-transform: uppercase;
}
  
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
  
.question-list {
    text-align: justify;
    margin: 20px;
}
  
.question-list li{
    padding: 10px;
}
  
.menu-card {
    background: gray;
    border: 2px solid gray;
    color: white;
    transition: all ease 0.3s;
    padding: 20px 30px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.menu-card:hover {
    scale: 1.1;
}
  
.question-container {
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    text-align: center;
}
  
.question-container__form {
    gap: 20px;
    display: flex;
    flex-direction: column;
}
  
.input-group {
    width: 100%;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}
  
.MuiAvatar-img{
    object-position: top;
}
  
.link-group {
    display: flex;
    gap: 20px;
    color: gray;
}
  
.link-group svg{
    width: 40px;
    height: 40px;
    color: black;
}
  
.contador{
    color: rgba(0, 0, 0, 0.966);
    font-weight: bold;
}
  
.login-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;  
}

.img {
    float: left;
    width: 30%;
    border: thin solid;
    padding: 10px;
    max-height: 640px;
    margin: 0px 10px 10px 0;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

}

.card {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}


.gabi {
    display: flex;
    align-items: center;
    margin-left: 200px;
    flex-direction: column;
}

.gui {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: -200px;
}